
@import '../common/colors';

.header  { 
    color: $primary;
    font-size: 2em;
    margin: 0;

    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
    }

    &__anchor {
        text-decoration: none;
        color: $defaultBlack;
        padding: 1rem;
        &:hover {
            color: $primaryHover;
        }
    }
}
