<header class="header">
    <h1 class="header__headline">My own FEBT</h1>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__listItem">
                <a class="header__anchor" href="./index.html">Home</a>
            </li>
            <li class="header__listItem">
                <a class="header__anchor" href="./contact.html">Contact</a>
            </li>
            <li class="header__listItem">
                <a class="header__anchor" href="./portfolio.html">Portfolio</a>
            </li>
        </ul>
    </nav>
</header>